<!--ToDo: 10/14/2019 Show 'No Results Found' message if no results(lost,female,other has no results)-->
<!--PET-ITEM SEARCH RESULTS VIEW-->
<div *ngFor="let p of petStatusChecked; let i=index;">
  <div class="container rounded-lg mt-1" id="resultsContainer" *ngIf="p.petStatus[i].checked">
    <div class="card">
      <div class="row">
        <!--ToDo: 10/21/2019 Fix min&max img sizes-->
        <!--SHOW PET IMAGE-->
        <div class="image-container col-md-4 p-0 m-0">
          <img class="rounded" src="../../../assets/img/{{pet.imageUrl}}" alt="Pet image" />
        </div>
        <div class="card-body col-md-8 text-left">
          <div class="row">
            <!--SHOW petName, petGender, petType-->
            <div class="col-8 pl-0 pr-0">
              <h3 class="card-title">{{ pet.petName }} <span class="small"> {{ pet.petGender }} <span
                    id="petType">{{ pet.petType }}</span></span>
              </h3>
            </div>
            <!--SHOW addedDate-->
            <div class="col-4 pr-0 pl-0 text-right" id="addedDate">
              <strong>
                {{ pet.addedDate | date:'short' }}
              </strong>
            </div>
          </div>
          <div class="row" id="status-id-container">
            <!--SHOW LOST BADGE-->
            <div *ngIf="p.petStatus[i].id === 100">
              <h5>
                <!--SHOW id-->
                <span class="badge badge-pill badge-danger">{{ p.petStatus[i].name }}</span>
                PET ID: {{ pet.id }}
              </h5>
            </div>
            <!--SHOW FOUND BADGE-->
            <div *ngIf="p.petStatus[i].id === 200">
              <h5>
                <span class="badge badge-pill" id="found-badge">{{ p.petStatus[i].name }}</span>
                PET ID: {{ pet.id }}
              </h5>
            </div>
            <!--SHOW REUNITED BADGE-->
            <div *ngIf="p.petStatus[i].id === 300">
              <h5>
                <span class="badge badge-pill badge-success">{{ p.petStatus[i].name }}</span>
                PET ID: {{ pet.id }}
              </h5>
            </div>
          </div>
          <!--SHOW location-->
          <h4 class="text-dark">
            {{ pet.location }}
          </h4>
          <!--SHOW petDescription LIMITED TO 2 LINES-->
          <p class="pet-description-container">
            {{ pet.petDescription }}
          </p>
          <!--SEE PET LINK-->
          <p class="card-text text-right text-md-left" id="see-pet-link">
            <a [routerLink]="['/pet', pet.id]" [title]="'See more about ' + pet.petName" class="stretched-link">See
              pet</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
