<div class="container rounded-lg mt-1 pt-1 pb-1" id="resultsContainer">
  <div class="card">
    <div class="row">
      <!--ToDo: Fix clickable hover area around resized images in search results-->
      <div class="col-md-4">
        <a href="#" [title]="'See more about ' + pet.petName">
          <img class="img-fluid rounded" [src]="pet.imageUrl" alt="Pet image" />
        </a>
      </div>
      <div class="card-body col-md-8 text-center text-md-left">
        <h3 class="card-title">{{ pet.petName }} <span class="small"> {{ pet.petGender }} {{ pet.petType }}</span></h3>
        <!--SHOW LOST BADGE-->
        <h5 *ngIf="pet.lostCheck">
          <span class="badge badge-pill badge-danger">Lost</span>
          PET ID: {{ pet.petId }}
        </h5>
        <!--SHOW FOUND BADGE-->
        <h5 *ngIf="pet.foundStrayCheck">
          <span class="badge badge-pill badge-warning">Found</span>
          PET ID: {{ pet.petId }}
        </h5>
        <!--SHOW REUNITED BADGE-->
        <h5 *ngIf="pet.reunitedCheck">
          <span class="badge badge-pill badge-success">Reunited</span>
          PET ID: {{ pet.petId }}
        </h5>
        <p>
          {{ pet.petDescription }}
        </p>
        <p class="card-text">
          <a href="#" [title]="'See more about ' + pet.petName" class="stretched-link">See pet</a>
        </p>
      </div>
    </div>
  </div>
</div>
