#formContainer {
  background-color: #22804c;
  margin-top: auto;
}

#reportBtn {
  background-color: orange;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
}

div {
  height: 100%;
}
