<!--Nav Bar-->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <!--Place Logo Picture Here-->
    <a class="navbar-brand font-weight-bold" href="#">{{ appTitle }}</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample04"
      aria-controls="navbarsExample04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon border-light"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link font-weight-bold" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="#">Report Lost Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="#">How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="#">About</a>
        </li>
        <li>
          <a class="btn btn-light" href="#">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
