@import "./src/styles.scss";
nav {
  background: (#22804c);

  li {
    .btn {
      margin-left: 2px;
      padding: 8px;
    }

    .nav-item {
      font-weight: bold;
    }
  }
}

.navbar-dark {
  .navbar-toggler {
    border-color: $secondary-color;
  }
}
