<!--
  SHOW ERRORMSG IF HTTP REQUEST ERROR OCCURS. If server is not running, UNKNOW ERROR will be displayed.
  How to start server:
  1-Open new terminal and enter 'cd server' to enter server directory.
  2-Run the following command: 'node server'. This will start the server on localhost:3000
  3-Open browser and navigate to http://localhost:3000. If server is running a welcome message will be displayed. 
-->
<div class="alert alert-danger" *ngIf="errorMsg">
  {{ errorMsg }}
</div>

<!--SEARCH FORM-->
<div class="container rounded-lg text-white" id="formContainer">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit($event)">
    <!--ROW 1-->
    <div class="form-row d-flex justify-content-around pt-md-4 pt-sm-2">
      <!--PET NAME-->
      <div class="form-group col-lg-3 col-md-6">
        <label for="petName">
          <h4>Pet Name</h4>
        </label>
        <input type="text" formControlName="petName" class="form-control" id="petName" placeholder="Name" />
        <!--INVALID petId VALUE MESSAGE-->
        <!--
        <div *ngIf="petId.invalid && petId.touched">
          <div class="alert alert-danger">Pet ID or Name is required</div>
        </div>
        -->
      </div>
      <!--petType SELECT-->
      <div class="form-group col-lg-3 col-md-6">
        <label for="petType">
          <h4>Animal Type</h4>
        </label>
        <select formControlName="petType" class="custom-select">
          <option *ngFor="let petType of petTypes">{{ petType }}</option>
        </select>
      </div>
      <!--location INPUT-->
      <div class="form-group col-lg-3 col-md-6">
        <label for="location">
          <h4>Location</h4>
        </label>
        <input formControlName="location" id="location" class="form-control"
          placeholder="Address, City, State or Zip Code" />
      </div>
      <!--searchDistance SELECT-->
      <div class="form-group col-lg-3 col-md-6 order-lg-1">
        <label for="searchDistance">
          <h4>Distance</h4>
        </label>
        <select formControlName="searchDistance" class="custom-select" id="searchDistance">
          <option *ngFor="let searchDistance of searchDistances">{{ searchDistance }}</option>
        </select>
      </div>
    </div>
    <!--ROW 2-->
    <div class="form-row d-flex justify-content-around">
      <!--petStatus CHECKBOX GROUP-->
      <div formGroupName="petStatus" class="form-group col-md-3 col-6">

        <h4>
          <label for="petStatusLabel" id="petStatusLabel">Pet Status</label>
        </h4>
        <!--CHECKBOX 1-->
        <div class="form-check">
          <input type="checkbox" formControlName="lostCheck" class="form-check-input" id="lostCheck" />
          <label class="form-check-label" for="lostCheck">
            Lost
          </label>
        </div>
        <!--CHECKBOX 2-->
        <div class="form-check">
          <input type="checkbox" formControlName="foundStrayCheck" class="form-check-input" id="foundStrayCheck" />
          <label class="form-check-label" for="foundStrayCheck">
            Found/Stray
          </label>
        </div>
        <!--CHECKBOX 3-->
        <div class="form-check">
          <input type="checkbox" formControlName="reunitedCheck" class="form-check-input" id="reunitedCheck" />
          <label class="form-check-label" for="reunitedCheck">
            Reunited
          </label>
        </div>
        <!--INVALID CHECKBOX MESSAGE-->
        <div class="alert alert-danger" *ngIf="searchForm.controls['petStatus'].errors ?.requireOneCheckBoxToBeChecked">
          At
          least
          one checkbox is
          required to check
        </div>
      </div>
      <!--petGender RADIO BUTTONS-->
      <div class="form-group col-md-3 col-6">
        <h4>
          <label>Pet Gender</label>
        </h4>
        <div *ngFor="let petGender of petGenders">
          <div class="form-check">
            <input type="radio" formControlName="petGender" class="form-check-input" value="{{petGender}}"
              (onselect)="radioChangeHandler($event)">
            <label class="form-check-label">{{ petGender }}</label>
          </div>
        </div>
        <!--
        <div class="form-check">
          <input type="radio" formControlName="petGender" id="genderOpt1" class="form-check-input" value="male" />
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input type="radio" formControlName="petGender" id="genderOpt2" class="form-check-input" value="female" />
          <label class="form-check-label">Female</label>
        </div>
        -->
      </div>
      <!--addedDate SELECT-->
      <div class="form-group col-lg-3 col-md-3 pb-2">
        <label for="addedDate">
          <h4>Found Within</h4>
        </label>
        <select formControlName="addedDate" id="addedDate" class="custom-select">
          <option *ngFor="let addedDate of addedDates">{{ addedDate }}</option>
        </select>
      </div>
      <!--sortBy SELECT-->
      <div class="form-group col-lg-3 col-md-3 pb-2">
        <label for="sortBy">
          <h4>Sort By</h4>
        </label>
        <select formControlName="sortBy" (change)="changeSortBy($event)" id="sortBy" class="custom-select">
          <option *ngFor="let sortBy of sortBySelections">{{ sortBy }}</option>
        </select>
      </div>
    </div>
    <!--ROW 3-->
    <!--SUBMIT FORM BUTTON-->
    <!--ToDo: 9/30/2019 Change button text to 'Update' after 'submitted = true'-->
    <div class="form-row d-flex justify-content-around">
      <div class="col-md-6 order-sm-1"></div>
      <div class="col-md-6 pb-2 order-sm-2">
        <button [disabled]='!searchForm.valid' class="btn btn-block" type="submit" id="searchBtn">
          Find
        </button>
      </div>
    </div>
  </form>
</div>
<!--SEARCH RESULTS-->
<ng-container *ngIf="submitted">
  <app-pet-item *ngFor="let pet of sortedPets | searchFilter:searchForm" [pet]="pet">
  </app-pet-item>
</ng-container>
<!--User modified formcontrol values-->
{{ searchForm.value | json }}
