<!--Search Form-->
<div class="container rounded-lg text-white" id="formContainer">
  <!--ToDo:8/26/2019 Display HttpErrorResponse if error occurs. Change to work with new reactive form
  <div class="alert alert-dange r" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>
  -->
  <!--ToDo:8/26/2019 Fix select box styling-->
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <!--Row 1-->
    <div class="form-row d-flex justify-content-around pt-md-4 pt-sm-2">
      <!--Pet ID-->
      <!--ToDo:8/26/2019 Make petId FormControl to petId/petName to give user the choice of which to search by-->
      <div class="form-group col-lg-3 col-md-6">
        <label for="petId">
          <h4>Pet ID or Name</h4>
        </label>
        <input type="text" formControlName="petId" class="form-control" id="petId" />
        <!--Invalid petId value message-->
        <!--
        <div *ngIf="petId.invalid && petId.touched">
          <small class="text-danger" *ngIf="petId.errors?.required">Pet ID is required</small>
          <small class="text-danger" *ngIf="petId.errors?.minlength">Pet ID must be at least 3 characters</small>
        </div>
        -->
      </div>
      <!--Pet Type Input-->
      <div class="form-group col-lg-3 col-md-6">
        <label for="petType">
          <h4>Animal Type</h4>
        </label>
        <select formControlName="petType" (change)="changePetType($event)">
          <option *ngFor="let petType of petTypes">{{ petType }}</option>
        </select>
      </div>
      <!--Location Input-->
      <div class="form-group col-lg-3 col-md-6">
        <label for="location">
          <h4>Location</h4>
        </label>
        <input type="text" formControlName="location" class="form-control" id="location"
          placeholder="Address, City, State or Zip Code" />
      </div>
      <!--Search Distance Radius Input-->
      <div class="form-group col-lg-3 col-md-6 order-lg-1">
        <label for="searchDistance">
          <h4>Distance</h4>
        </label>
        <select formControlName="searchDistance" (change)="changeSearchDistance($event)">
          <option *ngFor="let searchDistance of searchDistances">{{ searchDistance }}</option>
        </select>
      </div>
    </div>
    <!--Row 2-->
    <div class="form-row d-flex justify-content-around">
      <!--Status Checkboxes-->
      <!--ToDo:8/26/2019 At least ONE checkbox must be checked for form to be valid-->
      <div class="form-group col-md-3 col-6" id="petStatus">
        <h4>
          <label for="petStatus" id="statusLabel">Pet Status</label>
        </h4>
        <!--Status Checkbox 1-->
        <div class="form-check" name="tempChkBoxName">
          <input type="checkbox" formControlName="lostCheck" class="form-check-input" id="lostCheck" />
          <label class="form-check-label" for="lostCheck">
            Lost
          </label>
        </div>
        <!--Status Checkbox 2-->
        <div class="form-check">
          <input type="checkbox" formControlName="foundStrayCheck" class="form-check-input" id="foundStrayCheck" />
          <label class="form-check-label" for="foundStrayCheck">
            Found/Stray
          </label>
        </div>
        <!--Status Checkbox 3-->
        <div class="form-check">
          <input type="checkbox" formControlName="reunitedCheck" class="form-check-input" id="reunitedCheck" />
          <label class="form-check-label" for="reunitedCheck">
            Reunited
          </label>
        </div>
        <!--At least ONE checkbox above must be selected for the form to be valid.-->
        <small class="text-danger">Temp invalid form message.</small>
      </div>
      <!--Gender Radio Buttons-->
      <!--ToDo:8/26/2019 Allow radioboxes the be de-selected after initial selection-->
      <div class="form-group col-md-3 col-6">
        <h4>
          <label>Pet Gender</label>
        </h4>
        <div class="form-check">
          <input type="radio" formControlName="petGender" class="form-check-input" value="male" />
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input type="radio" formControlName="petGender" class="form-check-input" value="female" />
          <label class="form-check-label">Female</label>
        </div>
      </div>
      <!--Found Within Date Range Selection -->
      <div class="form-group col-lg-3 col-md-3 pb-2">
        <label for="dateRange">
          <h4>Found Within</h4>
        </label>
        <select formControlName="dateRange" (change)="changeDateRange($event)">
          <option *ngFor="let dateRange of dateRanges">{{ dateRange }}</option>
        </select>
      </div>
      <!--Sort By Selection-->
      <div class="form-group col-lg-3 col-md-3 pb-2">
        <label for="sortBy">
          <h4>Sort By</h4>
        </label>
        <select formControlName="sortBy" (change)="changeSortBy($event)">
          <option *ngFor="let sortBy of sortBySelections">{{ sortBy }}</option>
        </select>
      </div>
    </div>
    <!--Row 3-->
    <!--Form Submit Button-->
    <div class="form-row d-flex justify-content-around">
      <div class="col-md-6 order-sm-1"></div>
      <div class="col-md-6 pb-2 order-sm-2">
        <button class="btn btn-block btn-secondary" type="submit" id="searchBtn">
          Find
        </button>
      </div>
    </div>
  </form>
</div>
<!--Search Results-->
<ng-container *ngIf="submitted">
  <app-pet-item *ngFor="let pet of pets" [pet]="pet"> </app-pet-item>
</ng-container>
<!--User modified formcontrol values-->
{{ searchForm.value | json }}
